package id.blits.Latihan4;


public class latihan4 {

    public static void main(String[] args) {
    boolean  hasil;
    hasil= 4>3||4<7;
    
    System.out.println(hasil);
    
    
      
    }
}
